dask
dask[distributed]
eventlet
flask
flask-cors
flask-socketio
gpflow==2.10.0
gpflux==0.4.4
imageio
jupyter
matlab==0.1
matplotlib
mpi4py
neuron
numpy>=1.25,<1.27
pandas
plotly
requests
scikit_learn
scipy==1.13.1
seaborn
tensorflow<2.17.0
tensorflow_probability==0.24.0
tqdm
trieste==3.1.0
unyt
