dask
dask[distributed]
eventlet
flask
flask-cors
flask-socketio
gpflow>=2.9.0
imageio
matlab==0.1
matplotlib
mpi4py
neuron
numpy
pandas
plotly
requests
scikit_learn
scipy
seaborn
tensorflow
tensorflow_probability
torch
trieste==3.1.0
unyt